= form_tag({:action => "signin"}) do
  mail
  = text_field_tag "mail", ""
  password
  = password_field_tag "password",""
  = submit_tag "Sign in!!"

- if Blog.all.size == 0
  = link_to "Create Account", new_blog_path