%h1 Recently Articles
.option
  - @articles.each do |article|
    = article.created_at.in_time_zone('Tokyo').strftime("%m/%d")
    = link_to article.title,article
    %br

%br

%h1 Categories
.option
  - @categories.each do |c|
    = link_to c.name, c
    = "(#{c.article_num})"
