!!! XML
!!!
%html{"xmlns" => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{ 'property' => 'og:site_name', :content => 'Lifelog' }
    %meta{ 'name' => 'description', :content => '思いついたことを書く場所' }
    %title MyBlog
    = stylesheet_link_tag :all, :media => 'screen,projection'
    = javascript_include_tag :all
    -# %link{ :rel => 'shortcut icon', :media => 'image/x-icon', :href => '/images/party.ico' }
  %body.container_12
    .header
      .admin
        - if @blog
          = link_to 'Write new article', new_article_path
          = link_to "Logout" , {:controller => "blogs", :action => "signout"}
        - else
          = link_to "Login", {:controller => "blogs", :action => "login"}
      %h1
        %a= link_to 'simpleplay\'s Lifelog','/'
      .cl
    .grid_8
      .contents= yield
    .grid_4
      .contents.right-box= render 'articles/right_box'
      .bl
    .footer-wrapper
      .footer
        .footer1
          %h1 About me
          .option
            %p Age:24
            %p Name:TOMOYA
            %p Sex:MALE
            %p Locate:HIROSHIMA
        .footer2
          %h1 On the web
          .option
            %p= link_to 'About.me','https://about.me/tomoyamachi'
            %p= link_to 'Twitter','https://twitter.com/tomoyamachi'
            %p= link_to 'Facebook', 'http://facebook.com/tomoyamachi'
            %p= link_to 'Tumblr','https://simpleplay.tumblr.com/'
            %p= link_to 'TechBlog','https://simple-play.com/'
        .footer3
          %h1 Skill
          .option
            %p Ruby(on rails)
            %p Emacs
            %p HTML&CSS
            %p MySQL
            %p Nursing
        .footer4
          %h1 About this blog
          .option
            %p どうでもいいことを書く場所がなかったから、どうでもいいことを書ける場所をつくりました。
            %p ただのログだから、自分以外のひとにはきっと意味がないのでしょう。